language: python
python:
- '3.5'
- '3.6'
- pypy3.5
install:
- pip install -U tox-travis
- pip install -e .[dev]
- python setup.py develop
addons:
  apt:
    sources:
      - trusty
      - sourceline: 'ppa:jonathonf/ffmpeg-3'
    packages:
      - pkg-config
      - libavcodec-dev
      - libavformat-dev
      - libavutil-dev
      - libavdevice-dev
      - libavfilter-dev
      - libswscale-dev
      - libswresample-dev
      - ffmpeg
      - libsdl2-dev
script: tox
deploy:
  provider: pypi
  distributions: sdist bdist_wheel
  user: OpenXbox
  password:
    secure: XMtNkusTgKmoLTv5vVC7M8Uu6w+lGy7ofzYQE2votfp0EbhH7Ra/e0KKSzLwZHGCe4kGSmw3/umaKw7ShCi12spk+pRbkRMMCQfDh57PgKKcfE7h1nX9c6VWdENzIFxYDdJA2DWbKrg0R5PbpfbusCvXN0ckL3ZFnCLuutXok2jgj6cPyMGTObGXy5WID2I2lmpKMKVapjIXFqem78LXnfz5KtkgOT3dvwJwH3CnilioZgmpi010MAit8O+eRGhV3UqYbOno7uVZ/CEBxU3CCBQNX0d3G0eMBFKjOLbXJCjHFPEEHl5TBtaKtugqE1vDojBJrDDNvc4Hgs3S9RmEFmV0kDSoiCvaBJhfIyvWiwG3DVHWsGdpl3d8oAjdrtOFb2Rg0Bl383u9DMj8TjLFfeFLvm4tcVPw3Fzt49M83YvoCcQAWGMt2mbjO+17regDZ/DDKm4OxsVWZhNICRpfcLp22BMcDsfP+aGPxw5ykLbnZ6b5FwV6FcUqucbSWB00fW37A3KcPhUhY/e8hQfgvIvsC9rrBL4Qc+fL1Mp8eHknccqa1dK7yjneyoxDruqBKSdd5R5bDU1MsC1nInNuQ5cmrPT+al6DxYFnGCSUu2AhWbbOhQZOSTqghdZWDlX5tLz/ZLAHFeub2gc0uRlmo8MRcrl8aXX42sS61nU39Rw=
  on:
    tags: true
    branch: master
    python: 3.6
