include CHANGELOG.md
include LICENSE
include README.md

include xbox/nano/render/input/controller_db.txt

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
